#root {
  max-width: 100%;
  text-align: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.menu{
  justify-content: space-between;
  display: flex; 
  margin: 15px;
}
.comp-menu ul{
  
  display: flex;
 
}
.comp-menu ul li{
  font-size:  200%;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}
.comp-menu ul li:hover{
  border-radius: 10px;
  background-color: antiquewhite;
  color: cadetblue;
}

.titulo{
  font-size: 100%;
}
.titulo:hover{
  color: cadetblue;
}
.logo {
  display: flex;
 width: 30%;
}

.carrusel{
  width: 97%;
  border-radius: 50px;
}

.section{
  margin: 10px;
  display: flex;
  justify-content: center;
  transform: scale(1.15);
}
.izquierda{
  width: 100%;
  border-radius: 15px;
}
.derecha{
  width: 45%;
  border-radius: 15px;
}
h2{
  font-size: 100%;
}
.footer{
  display: flex ;
  background-color: rgb(255, 255, 152);
  justify-content: space-between;

}
.test-img{
  margin: 20px;
  padding: 50px 5px;
  width: 100%;
  border-radius: 10px;
  transform: scale(1.15);
}
.testimonios{
  margin: 40px;
  text-align: justify;
  padding: 5px 20px;
  width: 90%;
  font-size: 200%;
}

.pie-pag{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between; 
}
.nombre{
  padding: 5px 50px;
  font-size: 80%;
}
.nombre:hover{
  color: cadetblue;
}

.icono{
  padding: 20px;
  width: 50px;
}
.iconos-redes{
  padding: 15px;
}
